//compileCompressed: ../$1.min.css

//The attribute above is a parameter for the sass-autocompile package
@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300');


html{
  font-size: 16px;
}

body{
  margin: 0px;
  padding: 0px;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 16px;
}

#navBar{
  background-color: transparent;
  position: fixed;
  z-index: 3;
  width: 100%;


  button{
    float: right;
    border: 1px solid #fff;
    color: #fff;
    background-color: transparent;
    margin: 0px 2%;
    font-size: 1.3rem;
  }

  button:hover{
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.5);
  }

  .row{
      padding: 1rem 5%;
      width: 100%;
    }
}

//Overriding font-awesome defaults
.fa-2x{
  font-size: 2rem;
}

.fa-3x{
  font-size: 3rem;
}

.fa-lg{
  font-size: 2.5rem;
}

//Media Queries

/*
  w<768px for mobile phones and small tablets (xs)
  768px<w<992px for tablets (sm)
  992px<w<1200px for small desktops (md)
  1200px<w for big desktops (lg)

  *ORDER OF MEDIA QUERIES MATTERS
*/

@media screen and (max-width: 900px)
{
  html{
    font-size: 80%;
  }
}


@media screen and (max-width: 550px)
{
  html{
    font-size: 60%;
  }
}

@media screen and (max-width: 400px)
{
  html{
    font-size: 50%;
  }
}
